body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e75ca8;
  color: white;
  text-align: center;
  padding: 1rem;
}

.posts {
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.post {
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.post h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #2d3436;
}

.post footer {
  text-align: center;
  padding: 0.5rem; /* menos espaço interno */
  background-color: #dfe6e9;
  margin-top: 1rem; /* reduz a margem superior */
  max-width: 200px; /* limita a largura máxima da caixa */
  margin-left: auto; /* centraliza horizontalmente */
  margin-right: auto;
  border-radius: 6px; /* cantos arredondados */
}
.rodape {
  background-color: #e75ca8;
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}
